#home
  .container
    .row
      .span5
        %h1 Find friends. Play together.
        :markdown
          Welcome to _joinasquad.com_, a service built to help gamers find other gamers.
      .span11
        %ul.tabs(data-tabs="tabs")
          - if user_signed_in?
            %li.active
              %a(href="#getting-started") Getting started
          - else
            %li{:class => ('active' if signed_in_before?)}
              %a(href="#login") Login
            %li{:class => ('active' if !signed_in_before?)}
              %a(href="#join") Join
          %li
            %a(href="#about") About
        .tab-content
          - if user_signed_in?
            #getting-started.tab-pane.active(name="getting-started")
              %h2 Getting started
          - else
            #login.tab-pane{:class => ('active' if signed_in_before?)}(name="login")
              = render :partial => 'devise/sessions/form'
            #join.tab-pane{:class => ('active' if !signed_in_before?)}(name="join")
              = render :partial => 'devise/registrations/form'
          #about.tab-pane(name="about")
            %h2 About us
