h1#logo {
  text-indent: -1000px;
  font-family: 'Corbel', sans-serif;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 0;
  a {
    text-decoration: none;
    height: 32px;
    padding: 15px 10px;
    background: image-url("logo.png") no-repeat 0 15px;
    display: block;
    .white {
      color: #e6e6e6;
    }
    .yellow {
      color: #f1ab21;
    }
  }
}
