body {
  padding-top: 90px;
}

.navbar {
  &.navbar-fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  .fluid-sidebar {
    margin-bottom: 0;
  }
  .nav > li > a {
    line-height: 41px;
  }
}
