nav {
  font-size: 18px;
  display: inline-block;
  width: 640px;
  vertical-align: middle;
  ul {
    margin: 0;
    list-style: outside none;
    li {
      display: inline-block;
      margin-right: 15px;
      font-weight: bold;
    }
  }
}
